{% extends 'base.html.twig' %}

{% block title %}Hello {{ name }}{% endblock %}

{% block body %}
    <h1>Hello {{ name }}</h1>
    <p>Nutze den URL Parameter 'name' um einen speziellen Namen anzugeben. <br/>
        <code>?name=NAME_HIER_EINSETZTEN</code>
    </p>
{% endblock %}
