{% extends 'base.html.twig' %}

{% block navi %}{% endblock %}

{% block title %}Hello User!{% endblock %}

{% block body %}
    <a class="btn btn-info" href="{{ path('poke') }}">Pokemon</a>
    <a class="btn btn-primary" href="{{ path('hello_world') }}">Hello World</a>
{% endblock %}
